{% extends "theme::layouts/default" %}

{% block content %}

    <div id="pyradic">
        <div class="container-fluid">
            <h4 class="title">
                {{ trans('module::addon.section.overview') }}
            </h4>
            <div class="card">
                <ul class="nav nav-sections ">
                    <li class="nav-item  active">
                        <a href="#tab-general" data-toggle="tab" class="nav-link">
                            General
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a href="#tab-stream-bindings" data-toggle="tab" class="nav-link">
                            Stream Bindings
                        </a>
                    </li>
                </ul>
                <div class="card-block">
                    <div class="tab__pane tab-pane  active" id="tab-general">
                        <table class="table">
                            <tbody>
                            <tr>
                            <th>Endpoint URL</th>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab__pane tab-pane  active" id="tab-stream-bindings">

                        <table class="table">
                            <thead>
                            <tr>
                                {#<th>Namespace</th>#}
                                <th>Stream</th>
                                <th>GraphQL Type</th>
                                <th>Resolutions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for name, binding in scheme_bindings %}
                                <tr>
                                    {#<td>{{ binding.namespace }}</td>#}
                                    {#<td>{{ binding.slug }}</td>#}

                                    <td>{{ name }}</td>
                                    <td>{{ binding.type_name }}</td>
                                    <td>
                                        <table>
                                            {% for field, type in binding.resolutions %}
                                                <tr>
                                                    <td>{{ field }}</td>
                                                    <td>{{ type }}</td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>

{% endblock %}
